$breakpoints: (
        mobile-small: 480px,
        mobile: 768px,
        tablet-min: 769px,
        tablet: 1023px,
        desktop: 1439px,
        widescreen: 1920px,
        fullhd: 1921px
);

@mixin responsive($breakpoint, $direction: max, $max-breakpoint: null) {
  // Look up the breakpoint in the map
  $size: map-get($breakpoints, $breakpoint);
  $max-size: if($max-breakpoint, map-get($breakpoints, $max-breakpoint), null);

  // Apply media query based on direction (max-width or min-width)
  @if $size {
    @if $max-size {
      @media screen and (min-width: $size) and (max-width: $max-size) {
        @content;
      }
    } @else if $direction == max {
      @media screen and (max-width: $size) {
        @content;
      }
    } @else if $direction == min {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}

@mixin flex(
  $direction: null,
  $justifyContent: null,
  $alignItems: null,
  $alignSelf: null,
  $wrap: null,
  $gap: null
) {
  display: flex;

  $properties: (
          flex-direction: $direction,
          flex-wrap: $wrap,
          justify-content: $justifyContent,
          align-items: $alignItems,
          align-self: $alignSelf,
          gap: $gap
  );

  @each $property, $value in $properties {
    @if $value != null {
      #{$property}: $value;
    }
  }
}

@mixin grid($columns: repeat(auto-fill, minmax(100px, 1fr)), $rows: auto, $gap: 1rem) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}

@mixin caret-down {
  border-left: $caret-width solid transparent;
  border-right: $caret-width solid transparent;
  border-top: $caret-width solid black;
}

@mixin caret-up {
  border-left: $caret-width solid transparent;
  border-right: $caret-width solid transparent;
  border-bottom: $caret-width solid black;
}

@mixin caret-right {
  border-top: $caret-width solid transparent;
  border-bottom: $caret-width solid transparent;
  border-left: $caret-width solid black;
}

@mixin caret-left {
  border-top: $caret-width solid transparent;
  border-bottom: $caret-width solid transparent;
  border-right: $caret-width solid black;
}

@mixin caret($direction: down) {
  @if $enable-caret {
    &::after {
      display: inline-block;
      margin-left: $caret-width * .85;
      vertical-align: $caret-width * .85;
      content: "";
      @if $direction == down {
        @include caret-down;
      } @else if $direction == up {
        @include caret-up;
      } @else if $direction == right {
        @include caret-right;
      }
    }

    @if $direction == left {
      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
        margin-right: $caret-width * .85;
        vertical-align: $caret-width * .85;
        content: "";
        @include caret-left;
      }
    }

    &:empty::after {
      margin-left: 0;
    }
  }
}

@mixin outline($type: solid, $color) {
  outline: 1px $type $color;
}
