@import url('https://fonts.googleapis.com/css?family=Exo+2');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: $spacing-6;
  font-weight: $normal;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}

a, a:hover, a:visited {
  font-weight: $medium;
  color: $color-black;
  text-decoration: inherit;
}

html, body {
  margin: 0;
  min-height: 100%;
}

main {
  flex: 1;
}

h1 {
  font-size: $spacing-12;
  line-height: 1.1;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: $bold;
  text-transform: capitalize;
}

.input, .textarea, input, select, textarea {
  font-size: max($font-size-base, $font-root-size);


  & {
    outline: none;
    background: $color-white;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

li, ol {
  list-style: none;
}

.button {
  padding: 0 $spacing-base;
  font-size: $font-size-base;
  background-color: $color-white;
  font-weight: $medium;
  border: 1px solid rgba(211, 211, 211, 0.5);
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
  box-shadow: none;
  border-radius: 2px;
}

button:disabled {
  cursor: not-allowed;
}

.button:hover {
  border-color: $hover-color;
}

.button:focus,
.button:focus-visible {
  outline: none;
}

.button.is-light {
  color: $color-black;
  background: $color-white;
  border: 1px solid $color-black;
}

.caret-down {
  @include caret(down);
}

.caret-up {
  @include caret(up);
}

.caret {
  margin-left: 8px;
  display: inline-block;
  width: 0;
  height: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur($spacing-base);
}

.sorting-filter,
.category-filter {
  width: 100%;
}

.sorting-item,
.category-item {
  color: $primary-color;
  background-color: $background-color;
  font-size: $font-size-base;
  transition: background-color 0.3s ease;
  cursor: pointer;

  button {
    padding: $spacing-3;
    text-align: left;
    width: 100%;
  }

  &:hover {
    background-color: $hover-color;
  }
}

// category filters
.sorting-filter-select,
.category-filter-select {
  margin-right: $spacing-3;
  color: $secondary-color;
  text-transform: uppercase;
}

/* Modal Overlay */
.modal-background {
  display: block;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.dropdown-button {
  width: 100%;
  justify-content: space-between;
  flex: 1;
}
